<div id="login-wrapper" class="login-wrapper"></div>
<div id="show-reacted" class="phpbb_alert">

	<a href="#" class="alert_close close-more-reacted"><i class="icon fa-times-circle icon-red fa-fw" aria-hidden="true"></i></a>

	<strong class="reaction-ear reaction-ear-color" style="margin-bottom: 5px;">{{ lang('REACTIONS') }} <span id="load-more-count"></span></strong>

	<div id="reaction-type-top" style="margin-top: 5px;text-align: center;"></div>

	<hr class="dashed" />

	<div class="clear"></div>

	<div id="load-reacted-panel" style="max-height: 400px;overflow: auto;">
		<div id="load-reacted-user"></div>
	</div>
	
	<div class="clear"></div>

	<a id="load-more-reacted"><i class="icon fa-history fa-fw icon-green" aria-hidden="true"></i>{{ lang('REACTIONS_LOAD_MORE') }}</a>
	<span id="load-more-done" style="display: none;">{{ lang('REACTIONS_ALL_VIEWDED') }}</span>
</div>

