
<div id="reactions_memberlist">

	{% if RECENT_REACTIONS %}
	<div class="column1">
		<div id="user_reactions" class="panel bg1" style="text-align: center;">
			<div class="inner">

			<span class="badge tpr-font">{{ lang('REACTIONS_RECIEVED') }} {{ RECENT_REACTIONS }}</span>

			{% if REACTIONS_ENABLE_TRAFFIC_LIGHT %}
			<div style="text-align: left;float: left;{% if REACTIONS_ENABLE_TRAFFIC_LIGHT %}width: 25%;{% endif %}">
				<ul style="list-style: none;">
					<li><i class="icon fa fa-smile-o icon-green" aria-hidden="true"></i>
				    	<span data-pos-user="{{ postrow.POSTER_ID }}" class="traffic_light_go_color">{{ USER_REACTIONS_POS }}</span>
				    </li>
					<li><i class="icon fa fa-meh-o icon-orange" aria-hidden="true"></i>
				    	<span data-neu-user="{{ postrow.POSTER_ID }}" class="traffic_light_amber_color">{{ USER_REACTIONS_NEU }}</span>
				    </li>
					<li><i class="icon fa fa-frown-o icon-red" aria-hidden="true"></i>
				   	 	<span data-neg-user="{{ postrow.POSTER_ID }}" class="traffic_light_stop_color">{{ USER_REACTIONS_NEG }}</span>
					</li>
				</ul>

			</div>
			{% endif %}

			<div style="{% if REACTIONS_ENABLE_TRAFFIC_LIGHT %}width: 75%;float: right;{% endif %}">
				<div class="clear" style="margin-bottom: 10px;"></div>

				<ul style="list-style: none;">
				{% for recieved_reactions in loops.recieved_reactions %}
					<li style="float: left;padding: 10px;">
						<a href="{{ recieved_reactions.VIEW }}">
						<img src="{{ recieved_reactions.IMAGE_SRC }}" class="reaction_image" {% if REACTION_IMAGE_HEIGHT %}style="float: none;height: {{ REACTION_IMAGE_HEIGHT }}px;width: {{ REACTION_IMAGE_WIDTH }}px;background: #{{ BG_COLOR }};border-radius: 10px;padding: 1px"{% endif %}  alt="{{ recieved_reactions.TITLE }}" title="{{ recieved_reactions.TITLE }}" />
						<strong class="badge reaction_count">{{ recieved_reactions.COUNT }}</strong>
						</a>
					</li>
				{% endfor %}
				</ul>

				</div>
			</div>
		</div>
	</div>
	{% endif %}
	
	{% if loops.reactions|length %}
	<div class="column2">
		<div class="panel bg1" style="text-align: center;">
			<div class="inner">

			<span class="badge tpr-font">{{ lang('REACTIONS') }} {{ REACTIONS }}</span>
			<div class="clear" style="margin-bottom: 10px;"></div>

			<ul style="list-style: none;">
			{% for reactions in loops.reactions %}
				<li style="float: left;padding: 10px;">
					<a href="{{ reactions.VIEW }}">
						<img src="{{ reactions.IMAGE_SRC }}" class="reaction_image" {% if REACTION_IMAGE_HEIGHT %}style="float: none;height: {{ REACTION_IMAGE_HEIGHT }}px;width: {{ REACTION_IMAGE_WIDTH }}px;"{% endif %}  alt="{{ reactions.TITLE }}" title="{{ reactions.TITLE }}" />
						<strong class="badge reaction_count">{{ reactions.COUNT }}</strong>
					</a>
				</li>
			{% endfor %}
			</ul>
			</div>
		</div>
	</div>
	{% endif %}
</div>

<div class="clear"></div>
