
{% if REACTIONS_ENABLED %}
{% if not postrow.USER_REACTIONS %}<span data-show-user-reactions="{{ postrow.POSTER_ID }}" class="hidden">{% endif %}
<dd>{{ lang('REACTIONS') }}{{ lang('COLON') }}  <a href="{{ postrow.U_POST_AUTHOR }}#user_reactions"> <span data-reactions-user="{{ postrow.POSTER_ID }}">{{ postrow.USER_REACTIONS }}</span></a></dd>
{% if REACTIONS_ENABLE_TRAFFIC_LIGHT %}
<dd class="profile-joined"><i class="icon fa fa-smile-o icon-green" aria-hidden="true"></i>
    <span data-pos-user="{{ postrow.POSTER_ID }}" class="traffic_light_go_color">{{ postrow.USER_REACTIONS_POS }}</span>
</dd>
<dd class="profile-joined"><i class="icon fa fa-meh-o icon-orange" aria-hidden="true"></i>
    <span data-neu-user="{{ postrow.POSTER_ID }}" class="traffic_light_amber_color">{{ postrow.USER_REACTIONS_NEU }}</span>
</dd>
<dd class="profile-joined"><i class="icon fa  fa-frown-o icon-red" aria-hidden="true"></i>
    <span data-neg-user="{{ postrow.POSTER_ID }}" class="traffic_light_stop_color">{{ postrow.USER_REACTIONS_NEG }}</span>
</dd>
{% endif %}
{% if not postrow.USER_REACTIONS %}</span>{% endif %}
{% endif %}
