{% INCLUDE 'overall_header.html' %}

	{% if not REACTIONS_ENABLE_THANKS %}
		<div class="panel">
			<div class="inner">
				{% if loops.reaction_types|length %}
				<div class="panel reaction_inner" style="margin-top: 5px;">
					<div class="inner">
						<div class="centered">
						<p>{{ lang('REACTION_TYPES') }}</p>
						{% for reaction_types in loops.reaction_types %}
						<a>
							<img src="{{ reaction_types.IMAGE_SRC }}" {% if REACTION_IMAGE_HEIGHT %}style="height: 40px;width: 40px;background: #{{ reaction_types.BG_COLOR }};border-radius: 10px;padding: 1px"{% endif %} alt="{{ reaction_types.TITLE }}" title="{{ reaction_types.TITLE }}" />
							{% if reaction_types.COUNT %}
							<strong class="badge reaction_count">{{ reaction_types.COUNT }}</strong>
							{% endif %}
							{% if REACTIONS_ENABLE_PERCENTAGE %}
							<br />
							<strong>{{ reaction_types.PERCENT }}</strong>
							{% endif %}
						</a>
						{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
				<h2 class="topic-title">{{ lang('REACTIONS_TITLE') }}</h2>
				<p>{{ WELCOME_REACTIONS_PAGE }}</p>
			</div>
		</div>
	{% endif %}
	
	{% if loops.reactions|length %}
	<div class="action-bar top">
		{{ POSTER_COUNT }} &bull; {{ PAGE_NUMBER }}
		{% if loops.pagination|length %}
			<div class="pagination">
			{% INCLUDE 'pagination.html' %}
		</div>
		{% endif %}
	</div>

	{% for reactions in loops.reactions %}
	<div class="panel {% if reactions.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
		<div class="inner">

				{% if reactions.USER_REACTIONS %}
					<strong class="badge">{{ reactions.USER_REACTIONS }}</strong>
				{% endif %}

				<div class="reaction-avatar">
					{% if reactions.USER_AVATAR && reactions.DISPLAY_AVATAR %}{{ reactions.USER_AVATAR }}{% elseif reactions.DISPLAY_AVATAR %}<img src="{{ T_THEME_PATH }}/images/no_avatar.gif" alt="{{ lang('AVATAR') }}" />{% endif %}
					{{ reactions.USER_NAME }}
				</div>

				<div class="centered">
					{% for recent in reactions.recent %}
					{% if recent.U_VIEW %}
					<a href="{{ recent.U_VIEW }}">
					{% endif %}
						<img src="{{ recent.IMAGE_SRC }}" class="reaction_image" {% if REACTION_IMAGE_HEIGHT %}style="float: none;height: 40px;width: 40px;background: #{{ recent.BG }};border-radius: 10px;padding: 1px"{% endif %}  alt="{{ recent.TITLE }}" title="{{ recent.TITLE }}" />
						<strong class="badge reaction_count">{{ recent.COUNT }}</strong>
					{% if recent.U_VIEW %}
					</a>
					{% endif %}
					{% endfor %}
				</div>

		</div>
	</div>
	{% endfor %}
	
	<div class="action-bar bottom">
		{{ POSTER_COUNT }} &bull; {{ PAGE_NUMBER }}
		{% if loops.pagination|length %}
			<div class="pagination">
			{% INCLUDE 'pagination.html' %}
		</div>
		{% endif %}
	</div>
	{% endif %}
	
{% INCLUDE 'overall_footer.html' %}