
{% if S_VIEWTOPIC_REACTIONS && REACTIONS_ENABLED or S_REACTION_MEMBERS && REACTIONS_ENABLED %}
<div id="login-wrapper" class="login-wrapper"></div>
	<div id="show-reacted" class="phpbb_alert">

	<a href="#" class="alert_close close-more-reacted">
		<i class="icon fa-times-circle icon-red fa-fw" aria-hidden="true"></i>
	</a>

	<strong class="reaction-ear reaction-ear-color" style="margin-bottom: 5px;">{{ lang('REACTIONS') }} <span id="load-more-count"></span></strong>
	<div id="reaction-type-top" style="margin-top: 5px;text-align: center;"></div>

	<hr class="dashed" />
	<div class="clear"></div>
	{% INCLUDE 'load_reactions.html' %}
	<div class="clear"></div>

	<a id="load-more-reacted"><i class="icon fa fa-history fa-fw icon-green" aria-hidden="true"></i>{{ lang('REACTIONS_LOAD_MORE') }}</a>
	<span id="load-more-done" style="display: none;">{{ lang('REACTIONS_ALL_VIEWDED') }}</span>
</div>

<input type="hidden" name="reaction_form_time" id="reaction_form_time" value="{{ REACTION_FORM_TIME }}" />

<script>

	var tprData = {
		avatarUrl: '{{ REACTION_AVATAR }}',
		floodTime: '{{ REACTIONS_FLOOD_TIME }}',
		formTime: '{{ REACTION_FORM_TIME }}',
		url: '{{ REACTION_URL }}',
		userUrl: '{{ REACTION_USER_URL }}',
		height: '{{ REACTION_IMAGE_HEIGHT }}',
		width: '{{ REACTION_IMAGE_WIDTH }}',
		perPage: '{{ REACTIONS_PER_PAGE }}',
		sessionTime: '{{ REACTIONS_SESSION }}',
		countEnabled: '{% if TYPE_COUNT_ENABLE %}true{% else %}false{% endif %}',
		badgeEnabled: '{% if REACTIONS_ENABLE_BADGE %}true{% else %}false{% endif %}',
		viewtopic: '{% if S_VIEWTOPIC_REACTIONS && not S_NETWORK_INDEX %}true{% else %}false{% endif %}',
		quickReply: '{% if TPR_QR_ACTION %}{{ TPR_QR_ACTION }}{% endif %}',
		alertMsg: '{{ lang('TOO_FEW_CHARS')|escape('js') }}',
		alertTitle: '{{ lang('INFORMATION')|escape('js') }}',
		alt: '{{ lang('REACTIONS')|escape('js') }}',
		k: '{{ lang('REACTIONS_K')|escape('js') }}',
		m: '{{ lang('REACTIONS_M')|escape('js') }}',
		sessionExpired: 'session expired',
		urlTitle: '{{ lang('VIEW_REACTIONS')|escape('js') }}',
		userKey: '@STOKER_HIDDEN_KEY_23978654'
	};
</script>

{% INCLUDEJS '@steve_reactions/js/ajax_reactions.js' %}
{% endif %}
